{{#if loggedIn}}
  <h1>Welcome,</h1>
  <h2>{{student.first_name}} {{student.last_name}}</h2>
  <button id="profile">Profile</button>
  <button id="schedule">Schedule</button>
{{/if}}
<script src="/public/js/landingpage.js"></script>