<main class="container">
  <div class="row">
    <div class="col-lg-5">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title text-dark">Current Students</h5>
          <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label text-dark">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" />
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label text-dark">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" />
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-dark text-light">Login</button>
            </div>
            <br />
          </form>
          <h5 class="card-title text-dark">New Student? Create Account:</h5>
          <form>
            <div class="mb-3">
              <label for="firstName" class="form-label text-dark">First Name</label>
              <input type="text" class="form-control" aria-label="First name" />
            </div>
            <div class="mb-3">
              <label for="lastName" class="form-label text-dark">Last Name</label>
              <input type="text" class="form-control" aria-label="Last name" />
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label text-dark">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" />
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label text-dark">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" />
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-dark text-light">Enroll</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-7 d-flex justify-content-center">
      <p>About</p>
      <div id="scrollpage">
        <img
          src="/public/images/png-clipart-brown-paper-scroll-paper-scroll-template-parchment-old-background-miscellaneous-rectangle-thumbnail.png"
          alt="scroll"
        />
      </div>
    </div>
  </div>
</main>