<main class="container">
  <div class="row">
    <div class="col-lg-5">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title text-dark">Current Students</h5>
          <form class="login-form">
            <div class="mb-3">
              <label for="email-login" class="form-label text-dark">Email address</label>
              <input type="email" class="form-control" id="email-login" aria-describedby="emailHelp" />
            </div>
            <div class="mb-3">
              <label for="password-login" class="form-label text-dark">Password</label>
              <input type="password" class="form-control" id="password-login" />
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-dark text-light">Login</button>
            </div>
            <br />
          </form>
          <h5 class="card-title text-dark">New Student? Create Account:</h5>
          <form class="enroll-form">
            <div class="mb-3">
              <label for="firstName" class="form-label text-dark">First Name</label>
              <input type="text" class="form-control" id="first-name" aria-label="First name" />
            </div>
            <div class="mb-3">
              <label for="lastName" class="form-label text-dark">Last Name</label>
              <input type="text" class="form-control" id="last-name" aria-label="Last name" />
            </div>
            <div class="mb-3">
              <label for="email-create" class="form-label text-dark">Email address</label>
              <input type="email" class="form-control" id="email-enroll" aria-describedby="emailHelp" />
            </div>
            <div class="mb-3">
              <label for="password-create" class="form-label text-dark">Password</label>
              <input type="password" class="form-control" id="password-enroll" />
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-dark text-light">Enroll</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-7 d-flex justify-content-center">
      <div id="scrollpage">
        <div class="scrolltext">We are pleased to welcome you to Hogwarts School of Witchcraft & Wizardry. Our esteemed school of magic is for young
          wizards and witches between the ages of eleven to eighteen years old. If you have already received your acceptance letter via owl delivery,
          please proceed to the "Current Students" login. If not, complete the prompts to enroll...if you dare. Tuition: 1,807 Galleon - equal to
          $12,000 USD
        </div>

      </div>
    </div>
  </div>
  <script src="../public/js/login.js"></script>
</main>