<div class="row">
  {{>nav}}

  <main class="col-lg-10">
    <h1 class="scheduleHeader">Schedule</h1>
    <br>
    <br>
    <br>
    <div class="scheduleCards">
        <div class="col">
          <div class="card h-25 w-50">
            <div class="card-body">
              <h5 class="day">Monday</h5>
              <section class="cardData">
                <p class="subject">{{subject_id}}</p>
                <p class="teacher">teacher_id</p>
                <br>
                <p class="time">9:00AM-12:00PM</p>
              </section>
              <section class="cardData">
                <p class="subject">subject_id</p>
                <p class="teacher">teacher_id</p>
                <br>
                <p class="time">1:00PM-4:00PM</p>
              </section>
            </div>
          </div>
        </div>
        <br>
        <div class="col">
          <div class="card h-25 w-50">
            <div class="card-body">
              <h5 class="day">Tuesday</h5>
              <section class="cardData">
                <p class="subject">subject_id</p>
                <p class="teacher">teacher_id</p>
                <br>
                <p class="time">9:00AM-12:00pm</p>
              </section>
              <section class="cardData">
                <p class="subject">subject_id</p>
                <p class="teacher">teacher_id</p>
                <br>
                <p class="time">1:00PM-4:00PM</p>
              </section>
            </div>
          </div>
        </div>
        <br>
        <div class="col">
          <div class="card h-25 w-50">
            <div class="card-body">
              <h5 class="day">Wednesday</h5>
              <section class="cardData">
              <p class="subject">subject_id</p>
              <p class="teacher">teacher_id</p>
              <br>
              <p class="time">9:00AM-12:00PM</p>
              </section>
              <section class="cardData">
                <p class="subject">subject_id</p>
                <p class="teacher">teacher_id</p>
                <br>
                <p class="time">1:00PM-4:00PM</p>
              </section>
            </div>
          </div>
        </div>
        <br>
        <div class="col">
          <div class="card h-25 w-50">
            <div class="card-body">
              <h5 class="day">Thursday</h5>
              <section class="cardData">
                <p class="subject">subject_id</p>
                <p class="teacher">teacher_id</p>
                <br>
                <p class="time">9:00AM-12:00PM</p>
              </section>
              <section class="cardData">
                <p class="subject">subject_id</p>
                <p class="teacher">teacher_id</p>
                <br>
                <p class="time">1:00PM-4:00PM</p>
              </section>
            </div>
          </div>
        </div>
        <br>
        <div class="col">
            <div class="card h-25 w-50">
                <div class="card-body">
                    <h5 class="day">Friday</h5>
                    <section class="cardData">
                      <p class="subject">subject_id</p>
                      <p class="teacher">teacher_id</p>
                      <br>
                      <p class="time">9:00AM-12:00PM</p>
                    </section>
                </div>
            </div>
        </div>
    </div>
  </main>
</div>