<div class="row">
  {{>nav}}

  <main class="col-lg-10">
    <h1 class="scheduleHeader">Schedule</h1>
    <br>
    <br>
    <br>
    <div class="scheduleCards">
        <div class="col">
          <div class="scheduleCardFull h-75 w-75">
            <div class="card-body">
              <h5 class="day">Monday</h5>
              <section class="cardData d-flex justify-content-evenly">
                <p class="subject">Charms</p>
                <p class="teacher">Filius Flitwick</p>
                <p class="time">9:00AM-12:00PM</p>
              </section>
              <section class="cardData d-flex justify-content-evenly">
                <p class="subject">Potions</p>
                <p class="teacher">Severus Snape</p>
                <p class="time">1:00PM-4:00PM</p>
              </section>
            </div>
          </div>
        </div>
        <br>
        <div class="col">
          <div class="scheduleCardFull h-75 w-75">
            <div class="card-body">
              <h5 class="day">Tuesday</h5>
              <section class="cardData d-flex justify-content-evenly">
                <p class="subject">Defence Against the Dark Arts</p>
                <p class="teacher">Alastor Moody</p>
                <p class="time">9:00AM-12:00pm</p>
              </section>
              <section class="cardData d-flex justify-content-evenly">
                <p class="subject">Care of Magical Creatures</p>
                <p class="teacher">Rubeus Hagrid</p>
                <p class="time">1:00PM-4:00PM</p>
              </section>
            </div>
          </div>
        </div>
        <br>
        <div class="col">
          <div class="scheduleCardFull h-75 w-75">
            <div class="card-body">
              <h5 class="day">Wednesday</h5>
              <section class="cardData d-flex justify-content-evenly">
              <p class="subject">Transfiguration</p>
              <p class="teacher">Minerva McGonagall</p>
              <p class="time">9:00AM-12:00PM</p>
              </section>
              <section class="cardData d-flex justify-content-evenly">
                <p class="subject">Pomona Sprout</p>
                <p class="teacher">Herbology</p>
                <p class="time">1:00PM-4:00PM</p>
              </section>
            </div>
          </div>
        </div>
        <br>
        <div class="col">
          <div class="scheduleCardFull h-75 w-75">
            <div class="card-body">
              <h5 class="day">Thursday</h5>
              <section class="cardData d-flex justify-content-evenly">
                <p class="subject">Muggle Studies</p>
                <p class="teacher">Charity Burbage</p>
                <p class="time">9:00AM-12:00PM</p>
              </section>
              <section class="cardData d-flex justify-content-evenly">
                <p class="subject">Divination</p>
                <p class="teacher">Sybill Trelawney</p>
                <p class="time">1:00PM-4:00PM</p>
              </section>
            </div>
          </div>
        </div>
        <br>
        <div class="col">
            <div class="scheduleCardFull h-75 w-75">
                <div class="card-body">
                    <h5 class="day">Friday</h5>
                    <section class="cardData d-flex justify-content-evenly">
                      <p class="subject">Quidditch</p>
                      <p class="teacher">Rolanda Hooch</p>
                      <p class="time">9:00AM-12:00PM</p>
                    </section>
                </div>
            </div>
        </div>
    </div>
  </main>
</div>