<div id="navbar">{{> nav}}</div>

<main class="hero container">
  <div class="row">
    <section class="col-lg-6">
      <h1>Student Profile</h1>
      <ul>
        <li>Name: {{first_name}}</li>
        <li>ID: {{student_id}}</li>
        <li>House: {{house_name}}</li>
      </ul>
    </section>
    <section class="col-lg-6">
      <img src="/public/images/gryffindorCrest.jpg" alt="lion-crest">
      <p>{{description}}</p>
    </section>
  </div>
</main>
