<div id="navbar">{{> nav}}</div>
<body class="hero">
  <h1>Student Profile</h1>
  <ul>
    <li>Name: {{first_name}}</li>
    <li>ID: {{student_id}}</li>
    <li>House: {{house_name}}</li>
  </ul>
</body>
