* {
  box-sizing: border-box;
  margin: 0;
  background-color: #726d79;
  opacity: 90%;
  font-family: "Harry Potter", sans-serif;
}

h1 {
  color: #b28104;
  font-size: 68px;
  padding: 20px;
  text-align: center;
}

h2 {
  font-family: "Harry Potter", sans-serif;
  color: #b28104;
  text-align: center;
}

header img {
  width: 180px;
  height: 110px;
}

.hero {
  background-image: url("/public/images/Screenshot\ 2022-12-11\ at\ 5.07.07\ PM.png");
}

#main {
  display: flex;
}

#navbar {
  flex: 25%;
}

#content {
  flex: 75%;
}

/* @media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
} */
