* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  color: #b28104;
  font-family: "Harry Potter", sans-serif;
  font-size: 72px;
  padding: 20px;
  text-align: center;
}

h2 {
  font-family: "Harry Potter", sans-serif;
  color: #b28104;
  text-align: center;
  font-size: 44px;
}

header img {
  width: 180px;
  height: 110px;
}

.hero {
  background: url("/public/images/Screenshot\ 2022-12-11\ at\ 5.07.07\ PM.png") no-repeat;
  background-size: cover;
}

#login-form {
  font-family: "Vollkorn", serif;
  font-size: 20px;
}

#card-outline {
  opacity: 70%;
}

.card-title {
  font-family: "Vollkorn", serif;
  font-size: 26px;
  text-align: center;
  font-weight: bold;
}

#scrollpage {
  background-image: url("/public/images/png-clipart-brown-paper-scroll-paper-scroll-template-parchment-old-background-miscellaneous-rectangle-thumbnail.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 2%;
  width: 100%;
  height: 100%;
}

.scrolltext {
  margin: 45px;
  font-size: 38px;
  font-family: "La Belle Aurore", cursive;
  text-align: center;
}

.tuitiontext {
  margin: 45px;
  font-size: 30px;
  font-family: "La Belle Aurore", cursive;
  text-align: center;
}

#main {
  display: flex;
}

#logo {
  margin-top: 35
}

/* #navbar {
  flex: 25%;
}

#content {
  flex: 75%;
} */

/* @media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
} */
