* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: url(https://cur.cursors-4u.net/user/use-1/use160.cur), auto !important;
}

h1 {
  color: #b28104;
  font-family: "Harry Potter", sans-serif;
  font-size: 72px;
  padding: 20px;
  text-align: center;
}

h2 {
  font-family: "Harry Potter", sans-serif;
  color: #b28104;
  text-align: center;
  font-size: 44px;
  padding: 10px;
  margin-bottom: 20px;
}

header img {
  width: 180px;
  height: 110px;
}

.hero {
  background: url("/public/images/Screenshot\ 2022-12-11\ at\ 5.07.07\ PM.png") no-repeat;
  background-size: cover;
}

main {
  padding: 20px;
}

#login-form {
  font-family: "Vollkorn", serif;
  font-size: 20px;
}

#card-outline {
  opacity: 70%;
}

.card-title {
  font-family: "Vollkorn", serif;
  font-size: 26px;
  text-align: center;
  font-weight: bold;
}

#scrollpage {
  background-image: url("/public/images/png-clipart-brown-paper-scroll-paper-scroll-template-parchment-old-background-miscellaneous-rectangle-thumbnail.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 2%;
  width: 100%;
  height: 100%;
}

.scrolltext {
  margin: 45px;
  font-size: 38px;
  font-family: "La Belle Aurore", cursive;
  text-align: center;
}

.tuitiontext {
  margin: 45px;
  font-size: 30px;
  font-family: "La Belle Aurore", cursive;
  text-align: center;
}

#main {
  display: flex;
}

#logo {
  margin-top: 35;
}

.profile-header {
  font-family: "Harry Potter", sans-serif;
}

.profile-info {
  font-family: "Vollkorn", serif;
}

.house-header {
  font-family: "Harry Potter", sans-serif;
}

.house-name {
  font-family: "Harry Potter", sans-serif;
}

.house-desc {
  font-family: "Vollkorn", serif;
}

/* #navbar {
  flex: 25%;
}

#content {
  flex: 75%;
} */

/* @media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
} */

/* studentSchedule */
.scheduleHeader {
  color: #b28104;
  font-size: 68px;
  padding: 20px;
  text-align: center;
  font-family: "Harry Potter", sans-serif;
}

.day {
  text-align: center;
  font-family: "Vollkorn", serif;
}

.subject {
  text-align: center;
  font-family: "Vollkorn", serif;
}

.teacher {
  text-align: center;
  font-family: "Vollkorn", serif;
}
.time {
  font-style: italic;
  text-align: center;
  font-family: "Vollkorn", serif;
}
.col{
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardData{
  display: flex;
  justify-content: space-between;
  font-family: "La Belle Aurore", cursive;
}
.day{
  font-family: "La Belle Aurore", cursive;
}
.cardData p{
  font-family: "La Belle Aurore", cursive;
}
.scheduleCardFull{
  background-image: url("/public/images/png-clipart-brown-paper-scroll-paper-scroll-template-parchment-old-background-miscellaneous-rectangle-thumbnail.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 2%;
}
/* end studentSchedule */
